body {
    background-image: url(assets/wood.jpg);
    background-color: navy;
    background-repeat: no-repeat;
    background-size: cover;
}
.gameBoard{
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 6px ridge gray;
    background-color: rgb(197, 201, 149);
}
.gameBoard, .redTile, .blackTile {
    position: relative;
    text-align: center;
}
.redTile, .blackTile {
    width: 50px;
    height: 50px;
}
.redTile {
    background-color: red;
}
.blackTile {
    background-color: black;
}

/* checker piece styling */
.redChecker {
    margin: auto;
    background-color: rgb(155, 9, 9);
    border: 1px solid rgb(83, 83, 83);
    border-radius: 50%;
    width: 75%;
    height: 75%;
}
.blackChecker {
    margin: auto;
    background-color: rgb(49, 47, 47);
    border: 1px solid rgb(83, 83, 83);
    border-radius: 50%;
    width: 75%;
    height: 75%;
}